@mixin d-flex-custom($isColumn:false,$jc:center,$at:center) {
    display: flex ;
    justify-content: $jc ;
    align-items: $at ;
    @if $isColumn {
        flex-direction: column ;
    } 
}
.roll {
    z-index: 2000 ;
    position: fixed ;
    bottom: 30px ; 
    right: 30px ; 
    width: 40px ;
    height: 40px ;
    border-radius: 50% ;
    background-color: rgba(94,195,182,255) ;
    @include d-flex-custom() ;
    color: white ; 
    transition: 0.25s ;
    &:hover {
        transform: translateY(-10px );
    }
}